body {
    margin: 0;
    background-color: #19334B;
    font-family: 'Ubuntu Mono', monospace;
}

p,
h3,
form {
    color: #C0E2EA;
}

p {
    line-height: 1.5;
}

h2 {
    color: #F2D8C2;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

header,
footer {
    background-color: #453A74;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #F2D8C2;
}

.alinhamento-esq {
    margin-right: auto;
}

.alinhamento-esq li {
    padding-right: 40px;
}

.alinhamento-dir {
    margin-left: auto;
}

.alinhamento-dir li {
    padding-left: 10px;
}

/*tamanho imagens*/
.alinhamento-dir img {
    width: 40px;
    height: auto;
}

#sobremim.container {
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
}

#formacao.container {
    flex-direction: column;
    padding-top: 100px;
}

#formacao.container h2 {
    margin-bottom: 40px;
}

#formacao.container h3 {
    margin-bottom: 10px;
}

#formacao.container p {
    margin-bottom: 30px;
}

#tecnologias.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    text-decoration: none;
}

#tecnologias.container h2 {
    margin-bottom: 40px;
}

#tecnologias.container .lista-tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#tecnologias.container .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 170px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#tecnologias.container .icone img {
    max-width: 155px;
    max-height: 55px;
}
