/* Estilos gerais */
body {
    margin: 0;
    background-color: #132536;
    font-family: 'Ubuntu Mono', monospace;
    color: #D6F6FD;
}

.container {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Estilos dos títulos */
h2 {
    color: #F2D8C2;
    font-size: 40px;
    font-weight: 600;
    /* Peso da fonte semibold */
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos das seções */
#sobremim.container,
#formacao.container,
#tecnologias.container,
#portfolio.container,
#contato.container {
    flex-direction: column;
    padding-top: 60px;
}

/* Estilos header e footer */
header,
footer {
    background-color: #453A74;
    height: 80px;
    width: 100%;
    margin: 0 auto;
}

/* Estilos de navegação */
nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #F2D8C2;
}


/* Alinhamento */
.alinhamento-esq {
    margin-right: auto;
}

.alinhamento-esq li {
    padding-right: 40px;
}

.alinhamento-dir {
    margin-left: auto;
}

.alinhamento-dir li {
    padding-left: 10px;
}

/*imagens*/
.alinhamento-dir img {
    width: 40px;
    height: auto;
}

img {
    border-radius: 10px;
}

/* Estilos das tecnologias */
#tecnologias.container .lista-tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#tecnologias.container .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 170px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#tecnologias.container .icone img {
    max-width: 155px;
    max-height: 55px;
    padding: 2px;
}

/* Estilos do portfólio */
#portfolio.container div {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#portfolio.container article {
    width: 30%;
}

#portfolio.container article a {
    color: #5a71d7;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

#portfolio.container article a:hover {
    color: #F2D8C2;
}

/* Estilos do formulário de contato */
#contato.container form {
    display: flex;
    flex-direction: column;
}

#contato.container label {
    margin-bottom: 10px;
}

#contato.container input[type="text"],
#contato.container input[type="email"],
#contato.container textarea {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#contato.container button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#contato.container button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos do rodapé */
footer {
    margin-top: 50px;
}

footer p {
    margin: 0;
    padding-top: 24px;
}

footer ul {
    list-style: none;
    display: flex;
    padding-top: 22px;
    gap: 10px
}

/* Estilos específicos da página blog */
.imagemblog {
    display: flex;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 200px;
}
